body {
    font-family: Roboto, Helvetica, sans-serif;
    font-size: 16px;
    background-color: #e5e5e5 !important;
}

h2 {
    font-size: 1.5rem !important;
}

.product-quantity-group {
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    width: 110px;
}

.product-quantity-group input {
    width: 28px;
    text-align: center;
    color: #fff;
    height: 24px;
    font-size: 12px;
    border-radius: 5px;
    border: 0px;
}

.product-quantity-group button {
    border: 0;
    background-color: transparent;
    color: #112950;
    cursor: pointer;
    font-size: 22px;
    width: 24px;
    padding: 0;
    text-align: center;
    position: relative;
}
